<div class="categoria">
  <div>
  
  <div>
     <div>
      <div class="lado">
          <h5>Categoria</h5> <i class="bi bi-chevron-up"></i>
     </div>

      <ul type="none">
          <li ><i class="bi bi-app" id="space"></i>Imagens</li>
          <li><i class="bi bi-app" id="space"></i>Vídeos</li>
          <li><i class="bi bi-app" id="space"></i>Ilustrações</li>
          <li><i class="bi bi-app" id="space"></i>Criadores</li>
      </ul>

     </div>

      <hr>

      <div>
      
          <div class="lado">
              <h5>Subcategoria</h5> <i class="bi bi-chevron-up"></i>
         </div>

      <ul type="none">
          <li><i class="bi bi-app" id="space"></i>Tecnologia</li>
          <li><i class="bi bi-app" id="space"></i>Cultura</li>
          <li><i class="bi bi-app" id="space"></i>Gastronomia</li>
          <li><i class="bi bi-app" id="space"></i>Sociedade</li>
          <li><i class="bi bi-app" id="space"></i>Animais</li>
      </ul>

      </div>
      <hr>
      <div>
      <div class="lado">
          <h5>Classificação</h5><i class="bi bi-chevron-up"></i>
      </div>
          <ul type="none">
              <li><i class="bi bi-app" id="space"></i>Recente</li>
              <li><i class="bi bi-app" id="space"></i>Mais Pesquisadas</li>
              <li><i class="bi bi-app" id="space"></i>Mais Polulares</li>
          </ul>
      </div>

      <div>
          <div class="lado">
              <h5>Licença</h5><i class="bi bi-chevron-up"></i>
          </div>
              <ul type="none">
                  <li><i class="bi bi-app" id="space"></i>All</li>
                  <li><i class="bi bi-check2-square" id="space"></i>Grátis</li>
                  <li><i class="bi bi-app" id="space"></i>Premium</li>
              </ul>
      </div>
      <div>
         <div class="lado">
          <h5>Margem de Preço</h5><i class="bi bi-chevron-up"></i>
         </div>
             <input type="range">
             <div style="display: flex; padding: 0px;">
              <input class="" style="border: 1px solid #767373; border-radius: 4px; margin-right:-6pc;" type="text" placeholder="0">
             <input class="" style="border: 1px solid #767373; border-radius: 4px; margin-right:-6pc;" type="text" placeholder="999999">
             </div>
      </div>
      <hr>
      <div>
         <div class="lado">
          <h5>Background</h5><i class="bi bi-chevron-up"></i>
         </div>
              <ul type="none">
                  <li><i class="bi bi-app" id="space"></i>All</li>
                  <li><i class="bi bi-app" id="space"></i>Transparente</li>
                  <li><i class="bi bi-app" id="space"></i>Isolado</li>
              </ul>
      </div>

      <div>
          <div class="lado">
              <h5>Orientação</h5><i class="bi bi-chevron-up"></i>
          </div>
              <ul type="none">
                  <li><i class="bi bi-app" id="space"></i>All</li>
                  <li><i class="bi bi-app" id="space"></i>Horizontal</li>
                  <li><i class="bi bi-app" id="space"></i>Quadrada</li>
                  <li><i class="bi bi-app" id="space"></i>Panorâmica</li>
              </ul>
      </div>
      <hr>
      <div>
          <div class="lado">
              <h5>Estado</h5><i class="bi bi-chevron-up"></i>
          </div>
              <ul type="none">
                  <li><i class="bi bi-app" id="space"></i>Nenhum</li>
                  <li><i class="bi bi-app" id="space"></i>Recondicionado</li>
                  <li><i class="bi bi-app" id="space"></i>Novo</li>
                  <li><i class="bi bi-app" id="space"></i>Outro</li>
              </ul>
      </div>

      <div>
          <div class="lado">
              <h5>Avaliações</h5><i class="bi bi-chevron-up"></i>
          </div>
              <ul type="none">
                  <li><i class="bi bi-app" id="space"></i><i class="bi bi-star"></i></li>
                  <li><i class="bi bi-app" id="space"></i><i class="bi bi-star"></i></li>
                  <li><i class="bi bi-app" id="space"></i><i class="bi bi-star"></i></li>
                  <li><i class="bi bi-app" id="space"></i><i class="bi bi-star"></i></li>
                  <li><i class="bi bi-app" id="space"></i><i class="bi bi-star"></i></li>
              </ul>
      </div>
  </div>
  </div>

  <!-- grid de fotos -->
  <div class="grid">
      
  </div>
</div>