
.categoria{
    margin-top: 50px;  
    width: 220px; 
    position: relative;
    z-index: 1; 
    top: 1; 
    left: 10;
    overflow-x: hidden; 
    border-radius: 10px;
    border: 1px solid #2222;
    padding: 20px;
    padding-top: 5px;
   
  }
  
  .lado{
      display: flex;
      justify-content: space-between;
  }
#space{
    padding-right:5px;
}

