<!-- <div class="lightbox">
    <div class="row">
      <div class="col-lg-6">
        <img
          mdbLightboxItem
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.webp"
          img="'https://mdbootstrap.com/img/Photos/Slides/1.webp'"
          alt="Lightbox image 1"
          class="w-100"
        />
        <img
          mdbLightboxItem
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Square/1.webp"
          img="'https://mdbootstrap.com/img/Photos/Square/1.webp'"
          alt="Lightbox image 2"
          class="w-100"
        />
      </div>
      <div class="col-lg-6">
        <img
          mdbLightboxItem
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Vertical/1.webp"
          img="'https://mdbootstrap.com/img/Photos/Vertical/1.webp'"
          alt="Lightbox image 3"
          class="w-100"
        />
      </div>
    </div>
</div> -->

<!-- <div class="grid-gallery">
    <div class="grid-item">
      <a href="../../../assets/img/img-1.jpg" data-lightbox="gridImage">
        <img width="80" height="80" src="../../../assets/img/img-1.jpg" />
      </a>
    </div>
  </div> -->

  <div class="grid-wrapper">
    <div>
      <img src="../../../assets/img/img-1.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-2.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-3.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-4.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-5.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-6.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-7.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-8.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-9.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-10.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-11.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-12.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-13.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-14.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-15.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-16.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-17.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-7.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-1.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/img/img-9.jpg" alt="">
    </div>
  </div>
